:root {
  --color-text: #6b6375;
  --color-text-strong: #08060d;
  --color-bg: #fff;
  --color-border: #e5e4e7;
  --color-surface: #f4f3ec;
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);

  --color-priority-high: #e5484d;
  --color-priority-medium: #f5a524;
  --color-priority-low: #6b7280;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #9ca3af;
    --color-text-strong: #f3f4f6;
    --color-bg: #080606;
    --color-border: #322828;
    --color-surface: #242020;
    --color-accent: #c084fc;
    --color-accent-bg: rgba(192, 132, 252, 0.15);

    --color-priority-high: #f87171;
    --color-priority-medium: #fbbf24;
    --color-priority-low: #9ca3af;
  }
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--color-text-strong);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--color-text-strong);
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--color-surface);
}
