:root {
  --color-text: #5d5668;
  --color-text-strong: #231d2e;
  --color-bg: #faf9fb;
  --color-border: #eae5d8;
  --color-surface: #f5f2ed;
  --color-accent: #68598a;
  --color-accent-bg: rgba(104, 89, 138, 0.08);
  --color-accent-warm: #c58f3c;
  --color-accent-warm-bg: rgba(197, 143, 60, 0.1);

  --color-priority-high: #bf3b6c;
  --color-priority-medium: #b46716;
  --color-priority-low: #7b7782;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #847e8b;
    --color-text-strong: #c7bfcd;
    --color-bg: #040306;
    --color-border: #211b15;
    --color-surface: #131018;
    --color-accent: #8675a9;
    --color-accent-bg: rgba(134, 117, 169, 0.12);
    --color-accent-warm: #dca54c;
    --color-accent-warm-bg: rgba(220, 165, 76, 0.12);

    --color-priority-high: #c94b79;
    --color-priority-medium: #c2842b;
    --color-priority-low: #7b7782;
  }
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--color-text-strong);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--color-text-strong);
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--color-surface);
}
